---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import PostHog from "../components/Posthog.astro";
import GTag from "../components/GTag.astro";

const title = "Ridi motorcycle route generator";
const description =
  "Generate the perfect motorcycling route based based on your preferences with Ridi";
const image = "https://ridi.bike/og-image.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={title} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Moto.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ridi to ride</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content="https://ridi.bike" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <PostHog />
    <GTag />
    <ViewTransitions />
  </head>
  <body class="bg-white font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
